.formControlError input,
.formControlError textarea {
    border: 1px solid red;
}

.formControlError span {
    color: red;
    font-size: 18px;
}

.formSummaryError {
    border: 1px solid red;
    padding: 5px;
    color: orangered;
}