.container {
    border: 1px solid #000;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 70px;
    margin: 5px;
}

.name {
    font-size: 16px;
    padding: 3px 7px;
}

.button {
    font-size: 16px;
    user-select: none;
    padding: 3px 7px;
    border-radius: 5px;
}