.content {
    grid-area: c;
    background-color: #fff;
}

.img_title {
    display: block;
    width: 100%;
    max-height: 100px;
    margin-bottom: 10px;
}

.user_info_section {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.user_avatar {
    width: 100px;
    height: 100px;
    margin-right: 40px;
}

.user_name {
    font-size: 24px;
    margin-bottom: 20px;
}

.user_desc {
    font-size: 17px;
}

.my_posts_section {
    margin-left: 10px;
}

.my_posts_title {
    font-size: 24px;
    margin-bottom: 20px;
}

.new_post_section {
    margin-bottom: 30px;
}

.new_post_create_field {
    width: 100%;
    background-color: lightgray;
    min-height: 60px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 18px;
}

.send_news_btn {
    color: white;
    font-size: 20px;
    background-color: darkgreen;
    padding: 5px 20px 5px 20px;
}

.posts_list_section {
}

.post_item {
    font-size: 18px;
    margin-bottom: 20px;
}