.img_title {
    display: block;
    width: 100%;
    max-height: 115px;
    margin-bottom: 10px;
    border-radius: 8px 8px 0 0;
}

.user_info_section {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    padding: 15px;
}

.user_avatar_section {
    display: flex;
    flex-direction: column;
}

.user_change_avatar_button {
    max-width: 100px;
    margin-top: 10px;
}

.user_avatar {
    width: 100px;
    height: 100px;
    margin-right: 40px;
    border-radius: 50%;
}

.user_name {
    font-size: 24px;
    margin-bottom: 20px;
}

.user_desc {
    font-size: 17px;
    color: #111;
}