.backgroundImage {
    display: block;
    width: 100%;
    object-fit: cover;
    max-height: 115px;
    margin-bottom: 10px;
    border-radius: 8px 8px 0 0;
}

.button {
    color: #fff;
    font-size: 18px;
    background-color: darkgreen;
    padding: 6px 12px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.button:hover {
    background-color: #00aa00;
    color: #fff;
    text-shadow: #fff 0 0 4px;
    box-shadow: #009900 0 0 15px;
}

.userInfoSection {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    padding: 15px;
}

.editModeContainer {
    width: 68%;
}

.editFormContainer {
    display: flex;
    justify-content: space-between;
}

.editModeContacts {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.3;
}

.editModeInput {
    display: inline-block;
    min-width: 90%;
    min-height: 33px;
    width: 123%;
    margin-bottom: 5px;
    font-size: 18px;
    padding: 5px 8px;
    border-radius: 8px;
    line-height: 1.3;
    resize: vertical;
}

input::placeholder {
    color: #aaa;
}

textarea::placeholder {
    color: #aaa;
}

.userDescription {
    font-size: 17px;
    color: #111;
}

.userName {
    font-size: 24px;
    margin-bottom: 20px;
}

.userInfoText {
    font-size: 18px;
    line-height: 1.3;
    white-space: nowrap;
}

.flexContainer {
    display: flex;
    align-items: baseline;
}

.contactsSection {
    display: inline-block;
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.3;
}

.contactText {
    margin-left: 20px;
    font-size: 18px;
    line-height: 1.3;
}

.userAvatarSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.userAvatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.inputFileButtonContainer {
    margin-top: 15px;
}

.inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    & + label {
        display: inline-block;
        cursor: pointer;
        color: #fff;
        font-size: 18px;
        white-space: nowrap;
        background-color: darkgreen;
        padding: 8px 12px;
        border-radius: 8px;
    }
    &:focus + label,
    & + label:hover {
        background-color: #00aa00;
        color: #fff;
        text-shadow: #fff 0 0 4px;
        box-shadow: #009900 0 0 15px;
    }
}

.statusContainer {
    margin-bottom: 15px;
}