.main-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1000px;
    max-width: 1000px;
    grid-template-columns: 2fr 10fr;
    grid-gap: 15px;
    min-height: 100vh;
    background-color: #111;
}

.main-content {
    border-radius: 8px;
    background-color: steelblue;
    position: relative;
}