.global-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1000px;
    max-width: 1000px;
    grid-template-areas:
            "h h"
            "n c";
    grid-template-rows: 90px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    min-height: 100vh;
}

.global-wrapper-content {
    grid-area: c;
    background-color: steelblue;
}