.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.dialogsItems a.dialog {
    margin-bottom: 20px;
    color: aquamarine;
}

.dialogsItems a.active {
    color: gold;
}

.messages {
    padding: 10px;
}

.message {

}